@import './base.css';

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  font-weight: normal;
}
h1 {
  font-size: 2rem;
  margin-bottom: 1rem;
  font-weight: bold;
}
a,
.green {
  text-decoration: none;
  color: var(--color-accent);
  transition: 0.2s;
  padding: 3px;
}

button {
  background-color: var(--button-background);
  color: white;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 0.25rem;
  cursor: pointer;
  transition: 0.2s;
}
button:hover {
  background-color: hsl(193.88deg 61% 27.25%);
}
button:disabled {
  background-color: hsl(193.88deg 61% 90.25%);
  cursor: not-allowed;
  color: lightgrey;
}
@media (hover: hover) {
  a:hover {
    color: hsl(193.88deg 61% 60.25%);
  }
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }

  #app {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

/* HTML: <div class="loader"></div> */
.loader {
  width: 50px;
  aspect-ratio: 1;
  border-radius: 50%;
  background:
    radial-gradient(farthest-side, var(--loader) 94%, #0000) top/8px 8px no-repeat,
    conic-gradient(#0000 30%, var(--loader));
  -webkit-mask: radial-gradient(farthest-side, #0000 calc(100% - 8px), #000 0);
  animation: l13 1s infinite linear;
}
@keyframes l13 {
  100% {
    transform: rotate(1turn);
  }
}

nav {
  display: flex;
  gap: 1rem;
}
nav a {
  font-size: 1.25rem;
}
